.parentAddress{
    position: fixed;
    top: 85px;
    height: 50%;
    background: white;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    z-index: 200;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: 500px;
    right: 0px;
    transform: translate(0%, 0px);
    padding: 100px;
    padding-top: 20px;
    width: 15%;
    font-variant: small-caps;
    border-radius: None;
    font-family:Lucida !important;
}

.parentAddress input[type="text"]{
width: 90%;
padding: 15px;
margin-bottom: 10px;
}

@media (max-width:680px){
.parentAddress{
    padding: 10%;
    width:80%;
}
}